<div class="center-block w-y w-auto-xs p-v-md text-center">
<div class="p-lg panel log-no-bg text-color">
<div>
    <h3>Administrar mis viajes </h3>
    <br/>
    <div class="col-xs-12 list-group"><ul id="nav" class="center">
            <li id="notification_li"><div class="pull-left"><strong ng-show="auth">Bienvenido: {{user}}
            <a href="#!/logout">Cerrar sesión</a></strong></div>
                <div class="pull-right padlef"><strong><a href="#!/sub/trips">Viajes de la subdirección</a></strong></div>
                <div class="pull-right "> <a href="#!/trip/new">Nuevo viaje</a></div>
                <span id="notification_count">{{not}}</span><a ng-click="hide()" id="notificationLink">Notificaciones</a>
<div id="notificationContainer"><div id="notificationsBody" class="notifications"
    ng-show="notified" ng-repeat="notification in notifications">{{notification.description}}
    <a ng-href="#!/trip/detail/{{notification.trip}}">Click aquí</a></div></div>
    </li></ul>
    </div><br/><br/>
    <ul class="list-group visible-lg visible-md visible-sm" ng-repeat="trip in trips" ng-show="show">
        <li><div>Fecha de inicio: {{trip.startingDate}}<strong class="pull-right"><ul class="nav navbar-nav">
            <li><a ng-href="#!/trip/edit/{{trip.id}}">Editar</a></li>
            <li><a ng-href="#!/trip/deleted/{{trip.id}}">Eliminar</a></li>
            <li><a ng-href="#!/trip/detail/{{trip.id}}">Ver detalles</a></li></ul>
        </strong></div></li><br/>
    </ul>
    <ul class="list-group visible-xs" ng-repeat="trip in trips" ng-show="show">
        <li>Fecha de inicio: {{trip.startingDate}}</li><li><ul class="nav navbar-nav">
        <li><a ng-href="#!/trip/edit/{{trip.id}}">Editar</a></li>
        <li><a ng-href="#!/trip/deleted/{{trip.id}}">Eliminar</a></li>
        <li><a ng-href="#!/trip/detail/{{trip.id}}">Ver detalles</a></li></ul></li><br/>
    </ul>
</div></div></div>
